
<style>
    .main-background
    {
        display: block;
  background: url("/img/hl_alyx.jpg") no-repeat;
  background-size: 100%;
    }
</style>

<div class="main-background vh-100 d-flex align-items-center justify-content-center py-3 text-center text-white bg-dark">
  <main class="px-3">
    <h1>Магазин по продаже игровых ключей GameShop</h1>
    <p class="lead">Работа студентки третьего курса группы 191-725 Зайцевой А.Ю.</p>
    <p class="lead">
      <a href="/Games/List" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark">Оценить ассортимент</a>
    </p>
  </main>

  </div>