
<style>
    .row
    {
        margin-top: 100px;
    }
</style>

<div class="row bg-dark offset-3 col-md-5">
    <h2 class="text-light">Благодарим вас за заказ!</h2>
    <p class="text-light">Цифровой ключ отправлен вам на почту. Если вы не получили письмо, пожалуйста, проверьте папку спам.</p>
    </div>